.contenedorPrincipal{
    display: flex;
    min-height: 100vh;
    background-color: #f8f9fa;
    width: 100vw;
}

.contenido{
    display: flex;
    flex-grow: 1;
    margin-top: 65px;
    flex-direction: column;
    padding: 20px;
    background-color: #f8f9fa;
}

.container{
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.titleListaProductos{
    color: #05030D;
    font-size: small !important;
    margin-bottom: 16px !important;
}

.titleLista{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.titleListaProductos{
    color: #05030D;
    font-size: small !important;
    margin-bottom: 16px !important;
}

.titleProduct{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form{
    margin: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    align-items: stretch;
}

.seccion{
    padding: 16px;
    background-color: #f5f0ff;
    border-radius: 4px;
    height: 100%;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.h6{
    text-align: left; 
    margin-bottom: 12px;
}

.textField{
    border-radius: 4px !important;
    border: 1px solid #7c3aed !important; 
    margin-top: 3% !important;
    
}

.textField > label{
    transform: translate(14px, -12px) scale(1) !important;
    background-color: #f5f0ff;
    color: black;
    padding: 0 4px;
    font-size: 14px;
}

.textField:hover{
    border-color: #7c3aed !important; 
    border-width: 2px !important;
}

.subirImg{
    border: 2px dashed gray;
    border-radius: 8px;
    padding: 1.5rem;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 1rem;
}

.subirImg:hover {
    background-color: rgba(25, 118, 210, 0.1);
}

.subirImg label {
    color: #6239E6;
    font-weight: 500;
    cursor: pointer;
    text-decoration: underline;
}

.iconImg{
    color: #6239E6;
}

.listaItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border-bottom: 1px solid #e0e0e0; 
}

.listaItemText{
    flex: 1;
    margin-left: 1rem;
}

.imgText, .listaItemText span {
    font-size: small !important;
    overflow-wrap: break-word; 
    white-space: normal; 
    max-width: 300px;
}

.listaImg, .mensajeExito{
    margin-top: 16px;
}

.iconUpload{
    color: #7B3FF6 !important;
}

.botones{
    grid-column: 2;
    display: flex;
    margin-top: 40px;
    gap: 16px;
}

.botonCancelar{
    color: #7B3FF6 !important;
    background: transparent !important;
    border: none !important;
}

.botonCancelar:hover{
    background-color: #f5e6ff !important;
}

.botonAgregar{
    background-color: #6239E6 !important;
    color: white !important;
    border-radius: 6px !important;
    text-align: center !important;
    cursor: pointer !important;
    border: none !important;
    padding: 8px 16px !important;
}

.botonAgregar:hover{
    background-color: #125a9e !important;
}