.contenedorPrincipal {
  display: flex;
  min-height: 100vh;
  background-color: #f8f9fa;
}

.contenido {
  display: flex;
  margin-top: 65px;
  flex-direction: column;
  padding: 20px;
  background-color: #f8f9fa !important;
}

.container{
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.titleListaProductos {
  color: #05030D;
  font-size: small !important;
  margin-bottom: 16px !important;
}

.titleLista {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.titleListaProductos {
  color: #05030D;
  font-size: small !important;
  margin-bottom: 16px !important;
}

.titleProduct {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.titleProduct h4 {
  margin-bottom: 6px;
  font-size: 2rem;
}

.form {
  margin: 1%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  align-items: stretch;
  width: 90%;
}

.seccion {
  padding: 16px;
  background-color: #f5f0ff;
  border-radius: 4px;
  height: 100%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.h6 {
  text-align: left;
  margin-bottom: 12px;
}

.textField {
  border-radius: 4px !important;
  margin-top: 4% !important;

}

.textField>label {
  transform: translate(14px, -12px) scale(1) !important;
  background-color: #f5f0ff;
  color: black;
  padding: 0 4px;
  font-size: 14px;
}

.textField:hover {
  border-color: #7c3aed !important;
  border-width: 2px !important;
}

.subirImg {
  border: 2px dashed gray;
  border-radius: 8px;
  padding: 1.5rem;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 1rem;
}

.subirImg:hover {
  background-color: rgba(25, 118, 210, 0.1);
}

.subirImg label {
  color: #6239E6;
  font-weight: 500;
  cursor: pointer;
  text-decoration: underline;
}

.iconImg {
  color: #6239E6;
}

.listaItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 1px solid #e0e0e0;
}

.listaItemText {
  flex: 1;
  margin-left: 1rem;
}

.imgText, .listaItemText span {
  font-size: small !important;
  overflow-wrap: break-word;
  white-space: normal;
  max-width: 300px;
}

.listaImg {
  overflow: auto;
  height: 230px;
}

.iconUpload {
  color: #7B3FF6 !important;
}

.botones {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.botonCancelar {
  color: #7B3FF6 !important;
  background: transparent !important;
  border: none !important;
}

.botonCancelar:hover {
  background-color: #f5e6ff !important;
}

.botonAgregar {
  background-color: #6239E6 !important;
  color: white !important;
  border-radius: 6px !important;
  text-align: center !important;
  cursor: pointer !important;
  border: none !important;
  padding: 8px 16px !important;
}

.botonAgregar:hover {
  background-color: #125a9e !important;
}

.imgPrevisualizar {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
  justify-items: center;
}

.imgBoxEditar {
  position: relative;
  display: inline-block;
}

.imgEditar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.deleteIconEditar {
  position: absolute !important;
  top: 3px;
  right: 4px;
  /*background-color: rgba(0, 0, 0, 0.6) !important;*/
  background-color: white !important;
  padding: 9px !important;
  transition: all 0.2s ease-in-out;
  backdrop-filter: blur(2px);
  border-radius: 4px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.deleteIconEditar:hover {
  background-color: rgba(220, 20, 60, 0.8) !important;
  /* Rojo oscuro */
  transform: scale(1.1);
}

.deleteIconEditar svg {
  font-size: 12px;
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.2));
}

.alertaExito {
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  margin-top: 65px;
}

/*iconos tabla*/
.tableContainer {
  width: 100%;
  background-color: white;
}

.tableHeader {
  font-weight: 600 !important;
}

.contenido {
  border-radius: 8px;
  background-color: #F2EFFD;
  overflow: hidden;
  max-width: calc(100% - 20px)
}

.botonEditar {
  color: #7B3FF6 !important;
  background: transparent !important;
  border: 1px solid #7B3FF6 !important;
  font-size: small !important;
  font-weight: bold !important;
  margin: 0 2% !important;
}

.botonEditar:hover {
  background-color: #f5e6ff !important;
}


.botonEliminar {
  color: #D32F2F !important;
  background: transparent !important;
  border: 1px solid #D32F2F !important;
  font-size: small !important;
  font-weight: bold !important;
  margin: 0 2% !important;
}

.botonEliminar:hover {
  background-color: #f5e6ff !important;
}

.botonNuevaCarac {
  background-color: #2E1F5E !important;
  padding: 2% !important;
  margin: 5% 0 5% 60% !important;
}

form input.textField {
  color: black;
}

.alertaFracaso {
  
}