.container{
    display: flex;
    min-height: 100vh;
    background-color: #f8f9fa;
    width: 100vw;
}

.productContainer{
    display: flex;
    flex-grow: 1;
    margin-top: 65px;
    flex-direction: column;
    padding: 20px;
    background-color: #f8f9fa;
}

.titleLista{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.titleListaProductos{
    color: #05030D;
    font-size: small !important;
    margin-bottom: 16px !important;
}

.titleProduct{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.botonAddProduct {
    margin: 2% 0% 0% 80% !important;
    background-color: #6239E6 !important;
    color: white !important;
    border-radius: 4px !important;
    text-align: center !important;
    cursor: pointer !important;
    border: none !important;
    padding: 6px 15px !important;
    font-size: 80% !important;
}

.botonAddProduct:hover{
    background-color: #125a9e !important;
}

.tableContainer {
    width: 100%;
    min-height: 50vh;
}

.tableHeader {
    font-weight: 600 !important;
}

.contenido{
    border-radius: 8px;
    background-color: #F2EFFD;
    overflow: hidden;
    max-width: calc(100% - 20px);
    height: 70vh;
}

.botonEditar{
    color: #7B3FF6 !important;
    background: transparent !important;
    border: 1px solid #7B3FF6 !important;
    font-size: 90% !important;
    font-weight: bold !important;
    margin: 0 2% !important;
    width: 20%;
}

.botonEditar:hover{
    background-color: #f5e6ff !important;
}


.botonEliminar{
    color: #D32F2F !important;
    background: transparent !important;
    border: 1px solid #D32F2F !important;
    font-size: 90% !important;
    font-weight: bold !important;
    margin: 0 2% !important;
    width: 32%;
}

.botonEliminar:hover{
    background-color: #f5e6ff !important;
}

.botonVer{
    width: 20%;
    font-size: 90% !important;
}

.selectRol {
    width: 220px;
    height: 40px;
}

.tituloConfirmacion{
    display: flex;
    justify-content: center;
    color: #05030D;
    padding: 25px 0px 0px 5px !important;
}

.botones{
    display: flex !important;
    justify-content: center !important;
    padding: 0 0 20px 0 !important;
}

.botonCancelarConfirmacion{
    background: transparent !important; 
    border: 1px solid #2E1F5E !important;
    padding: 8px 22px !important;
    border-radius: 4px !important;
    cursor: pointer !important;
}

.botonCancelarConfirmacion:hover{
    background-color: #f5e6ff !important;
}

.botonAceptarConfirmacion{
    background: #6239E6 !important;
    color: white !important;
    border-radius: 4px !important;
    cursor: pointer !important;
    border: none !important;
    padding: 8px 22px !important;
}

.botonAceptarConfirmacion:hover{
    background-color: #125a9e !important;
}

