.sidebar{
    width: 240px;
}

.header {
    background-color: #f4f0fc;
    color: #000;
    box-shadow: none;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.logoContainer {
    display: flex;
    align-items: center;
}

.logo {
    width: 35px;
    margin-right: 10px;
}

.title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.adminContainer{
    display: flex;
    height: 100vh;
}

.content{
    flex-grow: 1;
    padding: 24px;
    background-color: #f9f9f9;
}



/*
            */