

.panel{
    display: flex;
    flex-direction: column;
    min-height: '100vh';
    width: '100%';
}

.sidebarBox{
    display: flex;
    flex-grow: 1;
    width: '100%';
}

.sidebar{
    width: 240px;
    flex-shrink: 0;
}

.header {
    padding: 16px 32px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    height: 64px;
    display: flex;
    align-items: center;
}

.panelTitle {
    color: #1a237e;
    font-weight: 600
}

.menuList{
    padding: 8px; /*borrar*/
}

.menuItem {
    margin: 4px 0 !important;
}

.menuItem:hover {
    background-color: rgba(25, 118, 210, 0.08);
}

.menuIcon {
    color: black;
    min-width: 40px;
}

.menuText {
    color: black;
}

.menuText span{
    font-size: small;
}