
.gridContainer {
    padding: 0px;
    justify-content: space-evenly;
}

.card {
    border-radius: 3px !important;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3) !important;
    transition: transform 0.2s ease-in-out !important;
    background-color: #f5f0ff !important;
    display: flex;
    flex-direction: column;
    height: 405px;
    /* width: 300px; */
    margin: 0 auto;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.card:hover {
    transform: scale(1.03);
}

.cardContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1 !important;
    overflow: hidden;
}

.imagenProducto {
    object-fit: cover !important;
    height: 200px !important;
    width: 100% !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.rating {
    font-size: larger !important;
}

.nombreProducto{
    font-weight: bold !important;
    color: #05030D;
    text-align: left;
}

.descripcionProducto{
    color: #666;
    text-align: left;
    margin: 5px 0 !important;
    flex-grow: 1 !important;
    overflow: hidden;
    max-height: calc(1.4em* 3);
    display: -webkit-box !important;
    -webkit-line-clamp: 3 !important;
    -webkit-box-orient: vertical !important;
}

.categoriaProducto{
    background-color: #2E1F5E !important;
    color: white !important;
    font-size: 68% !important;
    border-radius: 22px !important;
    align-self: flex-start;
    margin-top: auto;
}

.pagination{
    display: flex;
    justify-content: space-around;
    padding: 0px 6px;
    margin-top: 3%;
}

.MuiPagination-root {
    justify-content: center;
}

.MuiPaginationItem-root {
    border-radius: 8px; 
}

.favoriteIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    border-radius: 50%;
}

.tituloVolver {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 20px;
}

.backButton{
    color: #6239E6 !important;
    font-size: small !important;
    border-radius: 2px !important;
    font-weight: 500;
}

.backButton svg{
    padding-right: 7%;
}

.container {
    padding: 2rem;
    margin-top: 50px;
    min-height: 100vh;
    margin-bottom: 50px;
}

.desktopFilter
{
    position-area: bottom !important;
}

.movileFilter
{
    position: absolute;
    margin-left: auto;
    right: 10px;
    background-color: white;
}


.menuButton {
    position: absolute !important;
    right: 10px;
    display: none !important;
}

Grid3{
    width: 100%;
}
/* Mostrar solo en tablet y móvil */
@media (max-width: 1024px) { 
    .menuButton {
        display: block !important;
    }
    .desktopFilter {
        display: none !important;
    }
    .movileFilter{
        display: block !important;
    }
}

@media (min-width: 1025px) { 
    .desktopFilter {
        display: block !important;
    }
    .menuButton {
        display: none !important;
    }
    .movileFilter{
        display: none;
    }
}